@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h3>This is a CRUD project for employees database,</h3>
    <h5> Template : ASP.NET Core MVC</h5>
    <h5>Database : SQL Server - SSMS</h5>
</div>
